@import "normalize.css";
/*@import "fonts.css";*/
@import "vars.css";
@import "animation.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    font-family: var(--font-main);
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    /*outline: 1px solid red;*/
}
.hidden {
    visibility: hidden;
    display: none;
}

.active {
    visibility: visible;
    display: block;
}

.title {
    font-family: var(--font-main);
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    color: #202227;
}
/* banner start */
.banner {
    height: 552px;
    background-size:cover;
    position: relative;
}

.info-banner {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 756px;
    padding: 26px 50px;
    height: 126px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -60px;
    left: 50%;
    margin-left: -378px;
}

.info-banner__text {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #202227;
    max-width: 327px;
}
.info-banner__text span {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #202227;
}
.membership-btn__descr {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #646876;
    margin-top: 8px;
}
.membership-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.membership-btn__btn {
    padding:10px 44px;
    background: linear-gradient(180deg, var(--accent-color) 0%, var(--accent-color) 100%);
    border-radius: 22px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
/*.membership-btn__btn:hover {*/
/*    background: linear-gradient(180deg, var(--accent-color) 0%, var(--accent-color) 50%);*/
/*}*/
/* banner end */


/* advantages start */
.advantages {
    background-image: url("../img/advantages_bg.png");
    background-size: cover;
    margin-top: 143px;
}
.advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 69px 95px;
    margin-top: 34px;
}
.item-advantages__icon {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 14px;
    width: 126px;
    height: 126px;
}
.item-advantages__icon img {
    max-width: 98px;
    max-height: 98px;
}
.item-advantages {
    display: flex;
}
.content-advantages {
    margin-left: 24px;
    margin-top: 20px;
}
.content-advantages__title {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #202227;

}
.content-advantages__descr {
    margin-top: 2px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #202227;
}
/* advantages end */